<footer>
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-pb-sm">
					<div class="row">
						<div class="col-md-10">
							<h2>Sosyal Medya</h2>
							<p>Yeniliklerden haberdar olmak için sosyal medya hesaplarımızı takip etmeyi unutmayın</p>
							<p>m.yasinbilgi03@gmail.com</p>
							<p class="colorlib-social-icons">
								<a href="https://github.com/YasinBilgi"><i class="icon-github"></i></a>
								<a href="https://www.instagram.com/m.yasinbilgi7/"><i class="icon-instagram"></i></a>
								<a href="https://twitter.com/myasinbilgi7"><i class="icon-twitter"></i></a>
								<a href="https://www.linkedin.com/in/muhammed-yasin-bilgi-266846249/"><i class="icon-linkedin"></i></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-pb-sm">
					<h2>Sayfalar</h2>
					<div class="f-entry">
						<a href="#" class="featured-img" style="background-image: url(images/img-1.jpg);"></a>
						<div class="desc">
							<h3><a href="@Url.Action("Index", "Home")">Ana Sayfa</a></h3>
						</div>
					</div>
					<div class="f-entry">
						<a href="#" class="featured-img" style="background-image: url(images/img-2.jpg);"></a>
						<div class="desc">
							<h3><a href="@Url.Action("Index","Categories")">Kategoriler</a></h3>
						</div>
					</div>
					<div class="f-entry">
						<a href="#" class="featured-img" style="background-image: url(images/img-3.jpg);"></a>
						<div class="desc">
							<h3><a href="@Url.Action("Index","About")">Hakkında</a></h3>
						</div>
					</div>
					<div class="f-entry">
						<a href="#" class="featured-img" style="background-image: url(images/img-3.jpg);"></a>
						<div class="desc">
							<h3><a href="@Url.Action("Index","Contact")">İletişim</a></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-pb-sm">
					<h2>Bildirim</h2>
					<p>Ayın kitaplarından ve yeni kitaplardan ilk sen haberdar olmak istiyorsan bizimle mail adresini paylaşman yeterli</p>
					<div class="subscribe text-center">
						<div class="form-group">
							<input type="text" class="form-control text-center" placeholder="E-Mail">
							<input type="submit" value="Paylaş" class="btn btn-primary btn-custom">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>